
{% extends 'homepage/base.html' %}


{% block head %}

{%load crispy_forms_tags %} 

{% endblock head %}



{% block body %}

<div class="container-fluid p-5 herobg  text-white text-center">
  <h1>Submit A Project </h1>
  <p> Share your projects and what help you're looking for!</p> 
</div>

<div class="container p-5 "> <!-- fancy form incoming -->
    <div class="mx-auto" style="max-width: 60%;">
    <form action="/your-project/" method="post">
    <h2>Submit a project</h2>
     <div class="mb-3 mt-3">
        {% csrf_token %}
        {{form|crispy}}
        <!-- <label for="project_name"> Project Title </label>
        <input type="text" class="form-control" id="project_name" placeholder="Enter project name" name="Project Title">
      </div>
      <div class="mb-3">
        <label for="project_URL"> Project URL </label>
        <input type="url" class="form-control" id="project_URL" placeholder="Project link" name="ProjectURL">
      </div>
      <div class="mb-3">
        <label for="tags"> Tags </label>
        <input type="text" class="form-control" id="tags" placeholder="Tags separated by comma" name="Tags">
      </div>
      <div class="mb-3">
        <label for="description"> Description </label>
        <textarea type="text" class="form-control" id="description" rows="3" placeholder="Describe the project" name="Description"></textarea>  
      </div> -->
      <button type="submit" class="btn btn-success float-right">Submit </button>
    </form>
    </div>
</div>

{% endblock body%}