{% extends 'homepage/base.html' %}

{% block body %}

<div class="container-fluid p-5 herobg text-white text-center">
  <h1>Campus Projects</h1>
  <p>Find collaborative projects on campus that match your interests and goals!</p>
</div>


<div class="container p-5 ">
  <!-- Turn this into a for-loop later with the project information -->
  <h1> Featured Projects </h1>
  
    {% for project in featured_projects %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">  <a href="/view/{{project.id}}"> <h4>  {{ project.name }}</h4></a>  </div>
        <div class="card-body"> {{project.description}} </div>
        <div class="card-footer d-flex"> 
      </form> <p class="mx-3"> Total votes: {{project.votes}}</p></div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %} <!-- every 3 entries, make new row -->
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    
</div>

<div class="container p-5 ">
  <!-- Turn this into a for-loop later with the project information -->
  <h1> Seeking Volunteers </h1>
  <div class="row">
    {% for project in seeking_volunteers %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">  <a href="/view/{{project.id}}"> <h4>  {{ project.name }}</h4></a>  </div>
        <div class="card-body"> {{project.description}} </div>
        <div class="card-footer d-flex">
      </form> <p class="mx-3"> Total votes: {{project.votes}}</p></div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}