{% extends 'homepage/base.html' %}

{% block body %}

<div class="container-fluid p-5 herobg text-white text-center">
  <h1>Campus Projects</h1>
  <p>Find collaborative projects on campus that match your interests and goals!</p>
</div>


<div class="container p-5 ">
  <!-- Turn this into a for-loop later with the project information -->
  <h1> Featured Projects </h1>
  <div class="row">
    {% for project in featured_projects %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header"> {{ project.name }} </div>
        <div class="card-body"> {{project.description}} </div>
        <!--TODO: I question the necessity of this <div class="card-footer"> <a href="https://google.com"> View Project </a></div> -->
        <!-- TODO: ADD Links to a project page -->
        <!-- TODO: How to handle more than three projects -> autmatically make another row -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container p-5 "> <!-- Turn this into a for-loop later with the project information -->
  <h1> Seeking Volunteers </h1>
  {% for project in seeking_volunteers %}
  <div class="col-sm-4">
  <div class="card">
    <div class="card-header"> {{ project.name }} </div>
    <div class="card-body"> {{project.description}} </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}