
{% extends 'homepage/base.html' %}

{% block body %}

<!---TODO: Make this page view a project + add more stuff to it-->

<div class="container-fluid p-5 herobg  text-white text-center">
  <h1>{{project.name}}</h1>
</div>

<div class="container p-5 "> 
    <div class="card-body"><img src="{{project.image}}"/> </div> 
    <div class="card-body"> {{project.description}} <br><br> View Project:   <a href=" {{project.url}} "> {{project.url}} </a> </div>
    <div class="card-footer">  <form action="/view/{{ project.id}}" method="post">
      <div class="mb-3 mt-3 d-flex">
        {% csrf_token %}
      <button type="submit" class="btn btn-success  mx-3 float-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
      </svg></button>
    </form> <p> Total votes: {{project.votes}}</p></div>
</div>

<div class="container p-5 ">
  <div class="mx-auto" style="max-width: 60%;">

  </div>
</div>

{% endblock body%}