
{% extends 'homepage/base.html' %}

{% block body %}

<!---TODO: Make this page view a project + add more stuff to it-->

<div class="container-fluid p-5 herobg  text-white text-center">
  <h1>{{project.name}}</h1>
</div>

<div class="container p-5 "> 
    <!-- <div class="card-body"> {{project.image}} </div>  -->
    <div class="card-body"> {{project.description}} <br>
    Votes: {{project.votes}}
    </div>
    <!-- <div class="card-footer"> {{project.URL}} </div> -->
</div>

<div class="container p-5 ">
  <div class="mx-auto" style="max-width: 60%;">
  <form action="/view/{{ project.id}}" method="post">
    <div class="mb-3 mt-3">
      {% csrf_token %}
    <button type="submit" class="btn btn-success float-right">Upvote</button>
  </form>
  </div>
</div>

{% endblock body%}